<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    font-size: larger;
  }
  input[type="submit"] {
    width: 100px;
    left: 0px;
    margin-top: 20px;
  }
</style>

<main class="main">
  <form id="userForm">
    <label>Name*</label>
    <input type="text" placeholder="Enter your name" name="nameOfUser" />

    <label>Email*</label>
    <input type="email" placeholder="Enter your email" name="emailOfUser" />

    <label>Phone*</label>
    <input type="phone" placeholder="Enter Phone number" name="phoneOfUser" />

    <input type="submit" />
  </form>
</main>

<router-outlet />
